@use "../../scss/variable" as *;
@use "../../scss/mixin" as *;
.slidebar {
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
    position: relative;
    overflow: hidden;
    
   
    &__arrow
    {   
        &__right{
            position: absolute;
            top : 25%;
            right: 0;
            z-index: 100;
            font-size: 1.6rem;
            cursor: pointer;
            &.disable
            {
                display: none;
            }
        }
        &__left{
            top: 25%;
            left: 0;
            z-index: 100;
            font-size: 1.6rem;
            cursor: pointer;
            position: absolute;
            display: none;
            &.disable
            {
                display: block;
            }
        }   
             
        
        i{
            font-weight: 500;
        }
    }
    
    &__list{
        @include flex(center, unset);
                   
                    text-align: center;
                    max-width: 100%;
                    
                    transform: translateX(0);
                    transition: transform ease 0.5s;
                    &.active{
                        transform: translateX(-100%);
                        transition: transform ease 0.5s;
                    }
                      

            &__item{
            font-weight: 300;
            flex-shrink: 0;
            margin-right: 1.68rem;
            -webkit-scrollbar : none;
        }
            
            
    }}