$body-bg : #f5f5fa;
$main-color : #949497;
$txt-color :#636363;
$headr-bg: #1a94ff;


$white : white;
$black : black;


$header-height : 6rem;
$header-shrink-heigh: 9.625rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Roboto', sans-serif;
